<a href="https://colab.research.google.com/github/DeepsMaxi305/Data_Science/blob/main/Assignment_Operators.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Assignment Operators

In [19]:
x=5
x+=3
print(x)
x-=3
print(x)
x*=3
print(x)
x/=3
print(x)
x%=3
print(x)
x//=3
print(x)
x**=3
print(x)

8
5
15
5.0
2.0
0.0
0.0

In [20]:
x = 2 + abs(-12)
print (x)

14

In [21]:
x=2+abs(-12)
print (x)

14

In [22]:
import math
x= math.sqrt(49)
print (x)

7.0

In [23]:
x=len('25')
print (x)

2

In [32]:
# Below we multiply 3 by 4
x = 3*4   #This is also another comment
print (x)

12