<a href="https://colab.research.google.com/github/DeepsMaxi305/Data_Science/blob/main/Classes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [667]:
class person:
  species = "Homosapien"
  population = 0
  address = "Home"

  @staticmethod
  def greetings():
    print(f"Hello Human")

  @classmethod
  def increment_population(cls):
      cls.population +=1

  def __init__(self,name_input ="someone",age_input=18):
    self.name = name_input
    self.age = age_input
    self.address =""

    person.increment_population()
    person.greetings()
    
  def __str__(self):
    return f"name:{self.name}, age:{self.age}"

In [668]:
p1 = person ("Jamal",26)
print(p1.age,p1.name)
p1.address = "Jamal House"
print(p1.address,)

Hello Human
26 Jamal
Jamal House

In [669]:
p2 = person()
print(p2.name)
print(p2.address)

Hello Human
someone

In [670]:
p3 = person ("Deepu",27)
print(p3.age,p3.name)
p3.address = "Deepu House"
print(p3.address,)

Hello Human
27 Deepu
Deepu House

In [671]:
persons = []
for name, age in [("Alex",25),("Ali",24)]:
  persons.append(person(name,age))

Hello Human
Hello Human

In [672]:
print (persons[0].name)

Alex

In [673]:
print(p1,)
print (p2)

name:Jamal, age:26
name:someone, age:18

In [674]:
p3=p1
p3.name = "Sufi"
print(p1.name,p3.name)

Sufi Sufi

In [675]:
import copy
p4 = copy.deepcopy(p1)
p4.name = "Ahmad"
print(p1.name,p4.name)

Sufi Ahmad

In [676]:
p1.name1 = "Old"
print(p1.name1,p2.name)

Old someone

In [677]:
print(p1)

name:Sufi, age:26

In [678]:
print([p1,p2,p3,p4])

[<__main__.person object at 0x7f6e74cbd9a0>, <__main__.person object at 0x7f6e74bbf820>, <__main__.person object at 0x7f6e74cbd9a0>, <__main__.person object at 0x7f6e74d69ee0>]

In [679]:
print(list.__doc__)

Built-in mutable sequence.

If no argument is given, the constructor creates a new empty list.
The argument must be an iterable if specified.

In [680]:
print(person.__doc__)

None

In [681]:
del p1

In [682]:
print(person.__dict__)

{'__module__': '__main__', 'species': 'Homosapien', 'population': 5, 'address': 'Home', 'greetings': <staticmethod object at 0x7f6e74cbddf0>, 'increment_population': <classmethod object at 0x7f6e74cbd370>, '__init__': <function person.__init__ at 0x7f6e74bc4040>, '__str__': <function person.__str__ at 0x7f6e74bc4940>, '__dict__': <attribute '__dict__' of 'person' objects>, '__weakref__': <attribute '__weakref__' of 'person' objects>, '__doc__': None, '__slotnames__': []}

In [683]:
print(p3.__dict__)

{'name': 'Sufi', 'age': 26, 'address': 'Jamal House', 'name1': 'Old'}

In [684]:
print (p3.__dict__.values())

dict_values(['Sufi', 26, 'Jamal House', 'Old'])

In [685]:
print (person.population)
p1 = person()

5
Hello Human

In [686]:
p1.name = 99

In [687]:
class person:


  def __init__(self,name,age):
    self._name = name
    self.set_age(age)
    
  def get_age(self):
    return self._age
  
  def set_age(self,new_age):
    if (isinstance(new_age,int)):
      if new_age >0 and new_age <200:
        self._age = new_age
      else:
        print (f"Age {new_age} is not in valid range")
    else:
        print("age should be integer")

In [688]:
p1 = person ("Ahmad", 99)
p2 = person ("Noha",1000)

Age 1000 is not in valid range

In [689]:
p1._name = 96
print (p1.get_age())

99

In [690]:
p1.set_age(-10)
print (p1.get_age())

Age -10 is not in valid range
99

In [691]:
class personII:


  def __init__(self,name,age):
    self._name = name
    self.age =age

    @property
    def age(self):
     return self._age
  
    @age.setter
    def age(self,new_age):
     if (isinstance(new_age,int)):
      if new_age >0 and new_age <200:
        self._age = new_age
      else:
        print (f"Age {new_age} is not in valid range")
     else:
        print("age should be integer")

In [692]:
ahmad = personII("Ahmad",10)
print(ahmad.age)

10