<a href="https://colab.research.google.com/github/DeepsMaxi305/Data_Science/blob/main/Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [205]:
3*3

9

In [206]:
1245*1245

1550025

In [207]:
def my_square(x):
  #This is a sample doc string for a function

  return x*x

In [208]:
my_square(4.1)

16.81

In [209]:
import math

In [210]:
pi = 22/7

print(math.cos(math.pi))
print(math.pi)

-1.0
3.141592653589793

In [211]:
from math import pi, sin
print (sin(pi))

1.2246467991473532e-16

In [212]:
print(math.cos(pi))

-1.0

In [213]:
import math as m
m.cos(pi)

-1.0

In [214]:
import numpy as np

In [215]:
import numpy as np

In [216]:
from re import X
def my_square(x):
  #This function squares a number
  x2 = x*x
  return x2

In [217]:
x = 7
x_square = my_square (x)
print (f"square of {x} is {x_square}")

square of 7 is 49

In [218]:
from math import factorial
factorial (5)

120

In [219]:
def my_factorial (n):
  f = 1
  for i in range (1, n+1):
    f = f*i
    return f

In [220]:
my_factorial (5)

1

In [221]:
my_factorial(5)

1

In [222]:
print(my_factorial.__doc__)

None

In [223]:
def triple_add(x,y,z):
  """
  adds 3 inputs
  """

  sum = x + y + z
  return sum

In [224]:
triple_add (1000,200,30)

1230

In [225]:
def name_gen (first_name, last_name, title="Sir",middle_name=""):
  """generates name 
  """
  name = f"{title} {first_name} {middle_name} {last_name}"
  print(name)
  return name

In [226]:
name_gen("Alex","Adam",)
name_gen("Alex","Adam","Lord")
name_gen("Alex","Adam","Lord","Max")

Sir Alex  Adam
Lord Alex  Adam
Lord Alex Max Adam

'Lord Alex Max Adam'

In [227]:
name_gen(title ="Madam", first_name="Lilli",middle_name="Mary",last_name="Baker")

Madam Lilli Mary Baker

'Madam Lilli Mary Baker'

In [228]:
def greeter(*args):
  for name in args:
    print(f"Welcome {name}!")

In [229]:
greeter("I","Me","Myself","Ich",1000, pi)

Welcome I!
Welcome Me!
Welcome Myself!
Welcome Ich!
Welcome 1000!
Welcome 3.141592653589793!

In [230]:
square = lambda x:x*x

In [231]:
square(5)

25

In [232]:
def factorial_rec(n):
  if n==1 : 
    print (f"{1}! = 1")
    
    return 1
  
  else:
    print (f"{n} = {n-1}! x {n}")
    return n*factorial_rec(n-1)

In [233]:
factorial_rec(5)

5 = 4! x 5
4 = 3! x 4
3 = 2! x 3
2 = 1! x 2
1! = 1

120

In [234]:
a = 10
myname ="Max"

In [235]:
def test ():
  local_name = "lack"

  print (f"{myname} & {local_name} are friends")

In [236]:
test()

Max & lack are friends

In [237]:
def test ():
  global name2
  local_name = "lack"
  name1 ="Alex"
  name2 ="Kusha"

  print (f"{name1} & {name2} & {local_name} are friends")

In [238]:
name1 ="Max"
name2 ="Kumar"

print(name1,name2)
test()
print(name1, name2)

Max Kumar
Alex & Kusha & lack are friends
Max Kusha

In [240]:
def name_gen(first_name, last_name, title="Sir", middle_name=""):
  """Generates name"""
  
  s=""
  
  def capitalize():
    nonlocal s


    if len(s) <2 : 
      s = s.upper()
    else:
      s = s.upper()[0]+s.lower()[1:]
  name = f'{title} {first_name} {middle_name} {last_name}'
  return name

In [241]:
name_gen("Kusha", "Ziad")

'Sir Kusha  Ziad'

In [242]:
def name_gen(first_name, last_name, title="Sir", middle_name=""):
  """Generates name"""
  
  def capitalize():
    nonlocal first_name, last_name, title, middle_name
    first_name = first_name.title()
    last_name = last_name.title()

  capitalize()
  
  name = f'{title} {first_name} {middle_name} {last_name}'
  return name

In [243]:
name_gen("Kusha", "Ziad")

'Sir Kusha  Ziad'