<a href="https://colab.research.google.com/github/DeepsMaxi305/Data_Science/blob/main/k_nearest_neighbors.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# K-Nearest Neighbors
You should build a machine learning pipeline using a k-nearest neighbor model. In particular, you should do the following:
- Load the `mnist` dataset using [Pandas](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html). You can find this dataset in the datasets folder.
- Split the dataset into training and test sets using [Scikit-Learn](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html). 
- Train and test a k-nearest neighbor model using [Scikit-Learn](https://scikit-learn.org/stable/modules/generated/sklearn.neighbors.KNeighborsClassifier.html).
- Check the documentation to identify the most important hyperparameters, attributes, and methods of the model. Use them in practice.

#Importing the Library

In [27]:
import pandas as pd
import sklearn.model_selection
import sklearn.neighbors
import sklearn.metrics

#Loading the Data

In [28]:
df = pd.read_csv("/content/mnist.csv")
df = df.set_index("id")
df.head()

,class,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,pixel784
id,,,,,,,,,,,,,,,,,,,,,
31953,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
34452,8,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
60897,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
36953,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1981,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

#Splitting the Dataset into Training and Test sets

In [29]:
x = df.drop(["class"], axis=1)
y = df["class"]
x_train, x_test, y_train, y_test = sklearn.model_selection.train_test_split (x,y)

print("df:", df.shape)
print("x_train:", x_train.shape)
print("x_test:", x_test.shape)
print("y_train:", y_train.shape)
print("y_test:", y_test.shape)

df: (4000, 785)
x_train: (3000, 784)
x_test: (1000, 784)
y_train: (3000,)
y_test: (1000,)

#Training the Model

In [30]:
neigh = sklearn.neighbors.KNeighborsClassifier(n_neighbors=5)
neigh.fit(x_train, y_train)

KNeighborsClassifier()

#Testing the Model

In [34]:
y_pred = neigh.predict(x_test)
print( sklearn.metrics.classification_report(y_test,y_pred))
print( sklearn.metrics.confusion_matrix(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.96      1.00      0.98        89
           1       0.88      1.00      0.94       125
           2       0.98      0.88      0.93       109
           3       0.91      0.89      0.90       102
           4       0.95      0.91      0.93       104
           5       0.93      0.94      0.94        90
           6       0.97      0.95      0.96        87
           7       0.89      0.93      0.91       100
           8       0.92      0.82      0.87       108
           9       0.90      0.92      0.91        86

    accuracy                           0.93      1000
   macro avg       0.93      0.93      0.93      1000
weighted avg       0.93      0.93      0.92      1000

[[ 89   0   0   0   0   0   0   0   0   0]
 [  0 125   0   0   0   0   0   0   0   0]
 [  1   3  96   0   0   1   1   5   2   0]
 [  0   1   1  91   0   1   1   1   6   0]
 [  0   3   0   0  95   0   0   0   0   6]
 [  0   3   0   1   0  85   0   0   0   1]
 [  3   0   0   0   0   1  83   0   0   0]
 [  0   2   1   0   3   0   0  93   0   1]
 [  0   4   0   7   2   3   1   1  89   1]
 [  0   1   0   1   0   0   0   5   0  79]]