<a href="https://colab.research.google.com/github/DeepsMaxi305/Data_Science/blob/main/Logistic_Regression_Mnist.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Importing Library

In [75]:
import pandas as pd             #Importing Pandas Library
import sklearn.model_selection
import sklearn.linear_model     #Importing Library for Logistic Regression
import sklearn.metrics

#Loading the Data

In [74]:
# Load the data
df = pd.read_csv("/content/mnist.csv")        #Reading the Mnist Dataset
df = df.set_index("id")
df.head()                                     #Displaying the Data

,class,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,pixel784
id,,,,,,,,,,,,,,,,,,,,,
31953,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
34452,8,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
60897,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
36953,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1981,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

#Splitting Dataset into Training and Test sets

In [69]:
x = df.drop(["class"], axis=1)
y = df["class"]
x_train, x_test, y_train, y_test = sklearn.model_selection.train_test_split(x,y)

print("df:", df.shape)
print("x_train:", x_train.shape)
print("x_test:", x_test.shape)
print("y_train:", y_train.shape)
print("y_test:", y_test.shape)

df: (4000, 785)
x_train: (3000, 784)
x_test: (1000, 784)
y_train: (3000,)
y_test: (1000,)

#Training the Model

In [76]:
model = sklearn.linear_model.LogisticRegression(max_iter=10000)
model.fit(x_train, y_train)

LogisticRegression(max_iter=10000)

#Testing the Model

In [77]:
y_predicted = model.predict(x_test)
mse = sklearn.metrics.accuracy_score (y_test, y_predicted)
mse

0.87