<a href="https://colab.research.google.com/github/DeepsMaxi305/Data_Science/blob/main/naive_bayes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Naive Bayes
You should build a machine learning pipeline using a naive bayes model. In particular, you should do the following:
- Load the `mnist` dataset using [Pandas](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html). You can find this dataset in the datasets folder.
- Split the dataset into training and test sets using [Scikit-Learn](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html). 
- Train and test a naive bayes model using [Scikit-Learn](https://scikit-learn.org/stable/modules/generated/sklearn.naive_bayes.GaussianNB.html).
- Check the documentation to identify the most important hyperparameters, attributes, and methods of the model. Use them in practice.

#Importing Libraries

In [1]:
import pandas as pd

#from sklearn.model_selection import train_test_split
import sklearn.model_selection

import sklearn.naive_bayes
#from sklearn.metrics.mean_squared_error / accuracy
import sklearn.metrics

#Loading the Dataset

In [3]:
df = pd.read_csv("mnist.csv")
df = df.set_index('id')
df.head()

,class,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,pixel784
id,,,,,,,,,,,,,,,,,,,,,
31953,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
34452,8,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
60897,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
36953,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1981,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

#Splitting dataset into training and Test sets

In [5]:
X = df.drop('class', axis=1)
y = df['class']
X_train, X_test, y_train, y_test = sklearn.model_selection.train_test_split(X, y, random_state=8, test_size=0.25)
print("df:", df.shape)
print("X_train:", X_train.shape)
print("X_test:", X_test.shape)
print("y_train:", y_train.shape)
print("y_test:", y_test.shape)

df: (4000, 785)
X_train: (3000, 784)
X_test: (1000, 784)
y_train: (3000,)
y_test: (1000,)

#Training the Model

In [10]:
model_ga = sklearn.naive_bayes.GaussianNB()
model_ga.fit(X_train, y_train)

GaussianNB()

#Testing the Gaussian NB Model

In [12]:
y_preds = model_ga.predict(X_test)
accuracy = sklearn.metrics.accuracy_score(y_test, y_preds)
accuracy = accuracy*100
print (f"The accuracy of our GaussianNB model on the MNIST dataset is {accuracy}% percent")

The accuracy of our GaussianNB model on the MNIST dataset is 66.60000000000001% percent

#Testing the Bernoulli NB Model

In [7]:
model_be = sklearn.naive_bayes.BernoulliNB()
model_be.fit(X_train, y_train)
y_preds = model_be.predict(X_test)
accuracy = sklearn.metrics.accuracy_score(y_test, y_preds)
accuracy = accuracy*100
print (f"The accuracy of our BernoulliNB model on the MNIST dataset is {accuracy}% percent")

The accuracy of our BernoulliNB model on the MNIST dataset is 82.69999999999999% percent

#Testing the Complement NB Model

In [8]:
model_co = sklearn.naive_bayes.ComplementNB()
model_co.fit(X_train, y_train)
y_preds = model_co.predict(X_test)
accuracy = sklearn.metrics.accuracy_score(y_test, y_preds)
accuracy = accuracy*100
print (f"The accuracy of our ComplementNB model on the MNIST dataset is {accuracy}% percent")

The accuracy of our ComplementNB model on the MNIST dataset is 70.6% percent

#Testing the Multinomial NB Model

In [9]:
model_mu = sklearn.naive_bayes.MultinomialNB()
model_mu.fit(X_train, y_train)
y_preds = model_mu.predict(X_test)
accuracy = sklearn.metrics.accuracy_score(y_test, y_preds)
accuracy = accuracy*100
print (f"The accuracy of our MultinomialNB model on the MNIST dataset is {accuracy}% percent")

The accuracy of our MultinomialNB model on the MNIST dataset is 82.5% percent

In [13]:
!jupyter nbconvert --to html naive_bayes.ipynb

[NbConvertApp] Converting notebook naive_bayes.ipynb to html
[NbConvertApp] Writing 295041 bytes to naive_bayes.html