<a href="https://colab.research.google.com/github/DeepsMaxi305/Data_Science/blob/main/PandasPart2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [335]:
import pandas as pd

In [336]:
dir(pd)

['BooleanDtype',
 'Categorical',
 'CategoricalDtype',
 'CategoricalIndex',
 'DataFrame',
 'DateOffset',
 'DatetimeIndex',
 'DatetimeTZDtype',
 'ExcelFile',
 'ExcelWriter',
 'Flags',
 'Float32Dtype',
 'Float64Dtype',
 'Float64Index',
 'Grouper',
 'HDFStore',
 'Index',
 'IndexSlice',
 'Int16Dtype',
 'Int32Dtype',
 'Int64Dtype',
 'Int64Index',
 'Int8Dtype',
 'Interval',
 'IntervalDtype',
 'IntervalIndex',
 'MultiIndex',
 'NA',
 'NaT',
 'NamedAgg',
 'Period',
 'PeriodDtype',
 'PeriodIndex',
 'RangeIndex',
 'Series',
 'SparseDtype',
 'StringDtype',
 'Timedelta',
 'TimedeltaIndex',
 'Timestamp',
 'UInt16Dtype',
 'UInt32Dtype',
 'UInt64Dtype',
 'UInt64Index',
 'UInt8Dtype',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__docformat__',
 '__file__',
 '__getattr__',
 '__git_version__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_config',
 '_hashtable',
 '_is_numpy_dev',
 '_lib',
 '_libs',
 '_np_version_under1p18',
 '_testing',
 '_tslib',
 '_typing',
 '_version',
 'api',
 'array',
 'arrays',
 'bdate_range',
 'compat',
 'concat',
 'core',
 'crosstab',
 'cut',
 'date_range',
 'describe_option',
 'errors',
 'eval',
 'factorize',
 'get_dummies',
 'get_option',
 'infer_freq',
 'interval_range',
 'io',
 'isna',
 'isnull',
 'json_normalize',
 'lreshape',
 'melt',
 'merge',
 'merge_asof',
 'merge_ordered',
 'notna',
 'notnull',
 'offsets',
 'option_context',
 'options',
 'pandas',
 'period_range',
 'pivot',
 'pivot_table',
 'plotting',
 'qcut',
 'read_clipboard',
 'read_csv',
 'read_excel',
 'read_feather',
 'read_fwf',
 'read_gbq',
 'read_hdf',
 'read_html',
 'read_json',
 'read_orc',
 'read_parquet',
 'read_pickle',
 'read_sas',
 'read_spss',
 'read_sql',
 'read_sql_query',
 'read_sql_table',
 'read_stata',
 'read_table',
 'read_xml',
 'reset_option',
 'set_eng_float_format',
 'set_option',
 'show_versions',
 'test',
 'testing',
 'timedelta_range',
 'to_datetime',
 'to_numeric',
 'to_pickle',
 'to_timedelta',
 'tseries',
 'unique',
 'util',
 'value_counts',
 'wide_to_long']

In [337]:
s1 = pd.Series([11,12,13,14,15,])

In [338]:
print (s1)

0    11
1    12
2    13
3    14
4    15
dtype: int64

In [339]:
s2 = pd.Series([1,2,3,4,5.0])
print (s2)

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
dtype: float64

In [340]:
print (s1[1])

12

In [341]:
print(s1[0:-1])

0    11
1    12
2    13
3    14
dtype: int64

In [342]:
s2 = pd.Series({"Freezing":0, "Cold":10,"Warm":30,"Hot":48})

In [343]:
print (s2)

Freezing     0
Cold        10
Warm        30
Hot         48
dtype: int64

In [344]:
print(s2.keys())

Index(['Freezing', 'Cold', 'Warm', 'Hot'], dtype='object')

In [345]:
print(s2.keys(),)

Index(['Freezing', 'Cold', 'Warm', 'Hot'], dtype='object')

In [346]:
s3 = pd.Series([0,10,30,40],index = ["Freezing", "Cold", "Warm", "Hot"])

In [347]:
for k,v in s3.items():
  print(f"{k}:{v}")

Freezing:0
Cold:10
Warm:30
Hot:40

In [348]:
print(dir(s3))
for v in s3:
  print(f":{v}")

['Cold', 'Freezing', 'Hot', 'T', 'Warm', '_AXIS_LEN', '_AXIS_ORDERS', '_AXIS_REVERSED', '_AXIS_TO_AXIS_NUMBER', '_HANDLED_TYPES', '__abs__', '__add__', '__and__', '__annotations__', '__array__', '__array_priority__', '__array_ufunc__', '__array_wrap__', '__bool__', '__class__', '__contains__', '__copy__', '__deepcopy__', '__delattr__', '__delitem__', '__dict__', '__dir__', '__divmod__', '__doc__', '__eq__', '__finalize__', '__float__', '__floordiv__', '__format__', '__ge__', '__getattr__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__iand__', '__ifloordiv__', '__imod__', '__imul__', '__init__', '__init_subclass__', '__int__', '__invert__', '__ior__', '__ipow__', '__isub__', '__iter__', '__itruediv__', '__ixor__', '__le__', '__len__', '__long__', '__lt__', '__matmul__', '__mod__', '__module__', '__mul__', '__ne__', '__neg__', '__new__', '__nonzero__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rmatmul__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__setitem__', '__setstate__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__weakref__', '__xor__', '_accessors', '_accum_func', '_add_numeric_operations', '_agg_by_level', '_agg_examples_doc', '_agg_see_also_doc', '_align_frame', '_align_series', '_arith_method', '_as_manager', '_attrs', '_binop', '_can_hold_na', '_check_inplace_and_allows_duplicate_labels', '_check_inplace_setting', '_check_is_chained_assignment_possible', '_check_label_or_level_ambiguity', '_check_setitem_copy', '_clear_item_cache', '_clip_with_one_bound', '_clip_with_scalar', '_cmp_method', '_consolidate', '_consolidate_inplace', '_construct_axes_dict', '_construct_axes_from_arguments', '_construct_result', '_constructor', '_constructor_expanddim', '_convert', '_convert_dtypes', '_data', '_dir_additions', '_dir_deletions', '_drop_axis', '_drop_labels_or_levels', '_duplicated', '_find_valid_index', '_flags', '_from_mgr', '_get_axis', '_get_axis_name', '_get_axis_number', '_get_axis_resolvers', '_get_block_manager_axis', '_get_bool_data', '_get_cacher', '_get_cleaned_column_resolvers', '_get_index_resolvers', '_get_label_or_level_values', '_get_numeric_data', '_get_value', '_get_values', '_get_values_tuple', '_get_with', '_gotitem', '_hidden_attrs', '_index', '_indexed_same', '_info_axis', '_info_axis_name', '_info_axis_number', '_init_dict', '_init_mgr', '_inplace_method', '_internal_names', '_internal_names_set', '_is_cached', '_is_copy', '_is_label_or_level_reference', '_is_label_reference', '_is_level_reference', '_is_mixed_type', '_is_view', '_item_cache', '_ixs', '_logical_func', '_logical_method', '_map_values', '_maybe_update_cacher', '_memory_usage', '_metadata', '_mgr', '_min_count_stat_function', '_name', '_needs_reindex_multi', '_protect_consolidate', '_reduce', '_reindex_axes', '_reindex_indexer', '_reindex_multi', '_reindex_with_indexers', '_replace_single', '_repr_data_resource_', '_repr_latex_', '_reset_cache', '_reset_cacher', '_set_as_cached', '_set_axis', '_set_axis_name', '_set_axis_nocheck', '_set_is_copy', '_set_labels', '_set_name', '_set_value', '_set_values', '_set_with', '_set_with_engine', '_slice', '_stat_axis', '_stat_axis_name', '_stat_axis_number', '_stat_function', '_stat_function_ddof', '_take_with_is_copy', '_typ', '_update_inplace', '_validate_dtype', '_values', '_where', 'abs', 'add', 'add_prefix', 'add_suffix', 'agg', 'aggregate', 'align', 'all', 'any', 'append', 'apply', 'argmax', 'argmin', 'argsort', 'array', 'asfreq', 'asof', 'astype', 'at', 'at_time', 'attrs', 'autocorr', 'axes', 'backfill', 'between', 'between_time', 'bfill', 'bool', 'clip', 'combine', 'combine_first', 'compare', 'convert_dtypes', 'copy', 'corr', 'count', 'cov', 'cummax', 'cummin', 'cumprod', 'cumsum', 'describe', 'diff', 'div', 'divide', 'divmod', 'dot', 'drop', 'drop_duplicates', 'droplevel', 'dropna', 'dtype', 'dtypes', 'duplicated', 'empty', 'eq', 'equals', 'ewm', 'expanding', 'explode', 'factorize', 'ffill', 'fillna', 'filter', 'first', 'first_valid_index', 'flags', 'floordiv', 'ge', 'get', 'groupby', 'gt', 'hasnans', 'head', 'hist', 'iat', 'idxmax', 'idxmin', 'iloc', 'index', 'infer_objects', 'interpolate', 'is_monotonic', 'is_monotonic_decreasing', 'is_monotonic_increasing', 'is_unique', 'isin', 'isna', 'isnull', 'item', 'items', 'iteritems', 'keys', 'kurt', 'kurtosis', 'last', 'last_valid_index', 'le', 'loc', 'lt', 'mad', 'map', 'mask', 'max', 'mean', 'median', 'memory_usage', 'min', 'mod', 'mode', 'mul', 'multiply', 'name', 'nbytes', 'ndim', 'ne', 'nlargest', 'notna', 'notnull', 'nsmallest', 'nunique', 'pad', 'pct_change', 'pipe', 'plot', 'pop', 'pow', 'prod', 'product', 'quantile', 'radd', 'rank', 'ravel', 'rdiv', 'rdivmod', 'reindex', 'reindex_like', 'rename', 'rename_axis', 'reorder_levels', 'repeat', 'replace', 'resample', 'reset_index', 'rfloordiv', 'rmod', 'rmul', 'rolling', 'round', 'rpow', 'rsub', 'rtruediv', 'sample', 'searchsorted', 'sem', 'set_axis', 'set_flags', 'shape', 'shift', 'size', 'skew', 'slice_shift', 'sort_index', 'sort_values', 'squeeze', 'std', 'sub', 'subtract', 'sum', 'swapaxes', 'swaplevel', 'tail', 'take', 'to_clipboard', 'to_csv', 'to_dict', 'to_excel', 'to_frame', 'to_hdf', 'to_json', 'to_latex', 'to_list', 'to_markdown', 'to_numpy', 'to_period', 'to_pickle', 'to_sql', 'to_string', 'to_timestamp', 'to_xarray', 'transform', 'transpose', 'truediv', 'truncate', 'tz_convert', 'tz_localize', 'unique', 'unstack', 'update', 'value_counts', 'values', 'var', 'view', 'where', 'xs']
:0
:10
:30
:40

In [349]:
s4 = pd.Series(range(10,100,10))
print(s4)

0    10
1    20
2    30
3    40
4    50
5    60
6    70
7    80
8    90
dtype: int64

In [350]:
print(s4[3:-3])

3    40
4    50
5    60
dtype: int64

In [351]:
print (s4[s4<55])

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [352]:
s4 = pd.Series(range(10,100,10))
s5 = pd.Series(range(-10,-100,-10))
print([s4<55])

[0     True
1     True
2     True
3     True
4     True
5    False
6    False
7    False
8    False
dtype: bool]

In [353]:
print (s4[s4<55])

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [354]:
print (s5[s4<55])

0   -10
1   -20
2   -30
3   -40
4   -50
dtype: int64

In [355]:
print (s4*2)

0     20
1     40
2     60
3     80
4    100
5    120
6    140
7    160
8    180
dtype: int64

In [356]:
print (s4[3] *2 +1)

81

In [357]:
print(s5[(s4<55) & (s5> - 50)])

0   -10
1   -20
2   -30
3   -40
dtype: int64

In [358]:
print(s4[s4>40])

4    50
5    60
6    70
7    80
8    90
dtype: int64

In [359]:
d = {"freezing":-1, "Cold": 10, "normal": 20, "Warm":30, "Hot": 40}
s6 = pd.Series(d,)
s6 = pd.Series(d,index=["normal","warm"])
print(s6[0],s6["normal"],)

20.0 20.0

In [360]:
print(s6[0],s6["normal"],)

20.0 20.0

In [361]:

print(s6["freezing":"normal"])
print(s6[0:2])
print(s6.index.size,s6.index.shape)

normal    20.0
dtype: float64
normal    20.0
warm       NaN
dtype: float64
2 (2,)

In [362]:
ind6 = s6.index
ind7 = pd.Index({"warm","hot","boiling"})

print(ind6 & ind7)
print(ind6 | ind7)

Index(['warm'], dtype='object')
Index(['boiling', 'hot', 'normal', 'warm'], dtype='object')

<ipython-input-362-f3cd0b061a9a>:4: FutureWarning: Index.__and__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__and__.  Use index.intersection(other) instead
  print(ind6 & ind7)
<ipython-input-362-f3cd0b061a9a>:5: FutureWarning: Index.__or__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__or__.  Use index.union(other) instead
  print(ind6 | ind7)

In [363]:
data = pd.Series (['a','b','c'], index = [1,3,5])

In [364]:
data [1]

'a'

In [365]:
data [1:3]

3    b
5    c
dtype: object

In [366]:
data.iloc [1:3]

3    b
5    c
dtype: object

In [367]:
data = pd.Series (['a','b','c'], index = ["alex","berta","jack"])

In [368]:
data.loc["alex":"jack"]

alex     a
berta    b
jack     c
dtype: object

In [369]:
data.iloc[1:3]

berta    b
jack     c
dtype: object

In [370]:
data['alex']

'a'

In [371]:
data.iat[1]

'b'

In [372]:
population = pd.Series({'California':38000000,'Texas':26000000})
area = pd.Series({'California':424000,'Texas':690000})
states = pd.DataFrame({'population':population,'area':area})

In [373]:
print(states)

            population    area
California    38000000  424000
Texas         26000000  690000

In [374]:
states.index

Index(['California', 'Texas'], dtype='object')

In [375]:
states.columns

Index(['population', 'area'], dtype='object')

In [376]:
states.values

array([[38000000,   424000],
       [26000000,   690000]])

In [377]:
states.loc['Texas']

population    26000000
area            690000
Name: Texas, dtype: int64

In [378]:
states.loc['Texas','area']

690000

In [379]:
states

            population    area
California    38000000  424000
Texas         26000000  690000

In [380]:
states.iloc[1,1]

690000

In [381]:
states[states.area>500000]

       population    area
Texas    26000000  690000

In [382]:
states.area>500000

California    False
Texas          True
Name: area, dtype: bool

In [383]:
states[(states.population > 30000000) | (states.area > 500000)]

            population    area
California    38000000  424000
Texas         26000000  690000

In [384]:
states[(states.population > 30000000) & (states.area > 500000)]

Empty DataFrame
Columns: [population, area]
Index: []

In [385]:
states.area

California    424000
Texas         690000
Name: area, dtype: int64

In [386]:
states['area']

California    424000
Texas         690000
Name: area, dtype: int64

In [387]:
df2 = pd.DataFrame({'population':population,'state area':area})

In [388]:
df2['state area']

California    424000
Texas         690000
Name: state area, dtype: int64

In [389]:
states.area = [10,20]

In [390]:
states

            population  area
California    38000000    10
Texas         26000000    20

In [391]:
states['area'] = [10,20]

In [392]:
states

            population  area
California    38000000    10
Texas         26000000    20

In [393]:
states['area'] = [42,69]

In [394]:
states.loc['Texas']

population    26000000
area                69
Name: Texas, dtype: int64

In [395]:
for a,p in zip(states['area'],states['population']):
  density = p/a
  print (density)

904761.9047619047
376811.59420289856

In [396]:
for i in states.index:
  density = states.loc[i,'population'] / states.loc[i,'area']
  print(f'{i} density:{density}')

California density:904761.9047619047
Texas density:376811.59420289856

In [397]:
for i in states.index:
  density = states.loc[i,'population'] / states.loc[i,'area']
  print(f'{i} density:{density:.0f}')

California density:904762
Texas density:376812

In [398]:
states['density'] = states['population']/states['area']

In [399]:
states

            population  area        density
California    38000000    42  904761.904762
Texas         26000000    69  376811.594203

In [400]:
population = pd.Series({'California':38000000,'Texas':26000000, 'NY':15000000})
area = pd.Series({'California':424000,'Texas':690000})
df = pd.DataFrame({'population':population,'area':area})

In [401]:
df

            population      area
California    38000000  424000.0
NY            15000000       NaN
Texas         26000000  690000.0

In [402]:
population = pd.Series({'California':38000000,'Texas':26000000, 'NY':15000000})
area = pd.Series({'California':424000,'Texas':690000, 'Hawaii':150000})
df = pd.DataFrame({'population':population,'area':area})
df

            population      area
California  38000000.0  424000.0
Hawaii             NaN  150000.0
NY          15000000.0       NaN
Texas       26000000.0  690000.0

In [403]:
df.fillna(0)

            population      area
California  38000000.0  424000.0
Hawaii             0.0  150000.0
NY          15000000.0       0.0
Texas       26000000.0  690000.0

In [404]:
df['area'].fillna('200000')
df['area'] = df['area'].fillna(20000)

In [405]:
df['area'] = df['area'].fillna(20000)
df

            population      area
California  38000000.0  424000.0
Hawaii             NaN  150000.0
NY          15000000.0   20000.0
Texas       26000000.0  690000.0

In [406]:
df.dropna()

            population      area
California  38000000.0  424000.0
NY          15000000.0   20000.0
Texas       26000000.0  690000.0

In [407]:
# df.dropna(inplace =True)

In [408]:
df.dropna()

            population      area
California  38000000.0  424000.0
NY          15000000.0   20000.0
Texas       26000000.0  690000.0

In [409]:
df.dropna(axis='columns')

                area
California  424000.0
Hawaii      150000.0
NY           20000.0
Texas       690000.0

In [410]:
df.dropna(axis =1)

                area
California  424000.0
Hawaii      150000.0
NY           20000.0
Texas       690000.0

In [411]:
df.shape

(4, 2)

In [412]:
df.dropna(axis =1 , thresh = df.shape[0]*.75)

            population      area
California  38000000.0  424000.0
Hawaii             NaN  150000.0
NY          15000000.0   20000.0
Texas       26000000.0  690000.0

In [413]:
df.dropna(axis =1 , thresh = 3)

            population      area
California  38000000.0  424000.0
Hawaii             NaN  150000.0
NY          15000000.0   20000.0
Texas       26000000.0  690000.0

In [414]:
print(df,'\n')
print(df.fillna(method = 'ffill'),'\n')
print(df.fillna(method = 'bfill'))

            population      area
California  38000000.0  424000.0
Hawaii             NaN  150000.0
NY          15000000.0   20000.0
Texas       26000000.0  690000.0

            population      area
California  38000000.0  424000.0
Hawaii      38000000.0  150000.0
NY          15000000.0   20000.0
Texas       26000000.0  690000.0

            population      area
California  38000000.0  424000.0
Hawaii      15000000.0  150000.0
NY          15000000.0   20000.0
Texas       26000000.0  690000.0

In [416]:
population2 = pd.Series({'Alaska':10000000,'Arizona':5000000,})
area2 = pd.Series({'Alaska':100000,'Arizona':15000,})
df2 = pd.DataFrame({'population':population2,'area':area2})
df2['density'] = df2['population']/df2['area']
print (df2)

         population    area     density
Alaska     10000000  100000  100.000000
Arizona     5000000   15000  333.333333

In [417]:
df_all = pd.concat([df,df2])
print(df_all)

            population      area     density
California  38000000.0  424000.0         NaN
Hawaii             NaN  150000.0         NaN
NY          15000000.0   20000.0         NaN
Texas       26000000.0  690000.0         NaN
Alaska      10000000.0  100000.0  100.000000
Arizona      5000000.0   15000.0  333.333333

In [419]:
name = pd.Series(["ali","batrick","carl","den"])
gpa = pd.Series([1,2,1,5])
df_class = pd.DataFrame({'name':name,'gpa':gpa})
print (df_class)

      name  gpa
0      ali    1
1  batrick    2
2     carl    1
3      den    5

In [420]:
name = pd.Series(["ali","carl","emily"])
course = pd.Series(['training','cycling','boxing'])
df_gym = pd.DataFrame({'name':name,'course':course})
print (df_gym)

    name    course
0    ali  training
1   carl   cycling
2  emily    boxing

In [422]:
pd.merge(df_class,df_gym)

   name  gpa    course
0   ali    1  training
1  carl    1   cycling

In [423]:
pd.merge(df_class,df_gym,how="outer")

      name  gpa    course
0      ali  1.0  training
1  batrick  2.0       NaN
2     carl  1.0   cycling
3      den  5.0       NaN
4    emily  NaN    boxing

In [424]:
name = pd.Series(["ali","carl","emily"])
course = pd.Series(['training','cycling','boxing'])
df_gym2 = pd.DataFrame({'member':name,'course':course})
print (df_gym2)

  member    course
0    ali  training
1   carl   cycling
2  emily    boxing

In [425]:
df3 = pd.merge(df_class,df_gym2, left_on ="name", right_on ="member", how ="left")
print(df3, '\n')
df3.drop("member",axis=1,inplace =True)
print (df3)

      name  gpa member    course
0      ali    1    ali  training
1  batrick    2    NaN       NaN
2     carl    1   carl   cycling
3      den    5    NaN       NaN

      name  gpa    course
0      ali    1  training
1  batrick    2       NaN
2     carl    1   cycling
3      den    5       NaN

In [426]:
df3 = pd.merge(df_class,df_gym2, left_on ="name", right_on ="member", how ="inner")
print(df3, '\n')
df3.drop("member",axis=1,inplace =True)
print (df3)

   name  gpa member    course
0   ali    1    ali  training
1  carl    1   carl   cycling

   name  gpa    course
0   ali    1  training
1  carl    1   cycling

In [428]:
df4 = pd.concat([df_class,df_gym,])
print(df4)

      name  gpa    course
0      ali  1.0       NaN
1  batrick  2.0       NaN
2     carl  1.0       NaN
3      den  5.0       NaN
0      ali  NaN  training
1     carl  NaN   cycling
2    emily  NaN    boxing

In [429]:
df3.describe()

       gpa
count  2.0
mean   1.0
std    0.0
min    1.0
25%    1.0
50%    1.0
75%    1.0
max    1.0

In [433]:
print(df3.groupby(['course']).mean())

          gpa
course
cycling   1.0
training  1.0

In [434]:
print(df3.groupby(['course']).sum())

          gpa
course
cycling     1
training    1